<!DOCTYPE html>
<html>

<head>
  <title>LISTAR PRODUTOS</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="./scripts/jquery-3.6.0.js"></script>
  <script src="./scripts/comunicaApiCadProd.js"></script>
  
  <link rel="stylesheet" href="./style/style.css">
  <link href="./css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


</head>

<body>

  <div class="row affix-row">

    <div id="nav-placeholder">

    </div>

    <script>
      if (window.location.href.split("?")[1] == "administrador") {

        $.get("./navbar.html", function (data) {
          $("#nav-placeholder").replaceWith(data);
        });

      } else {
        $.get("./navbar_usuario.html", function (data) {
          $("#nav-placeholder").replaceWith(data);
        });
      }
    </script>


    <div class="col-sm-8 col-md-10 affix-content">

      <div class="container">

        <div class="col-md-6">
          <h3>
            <center>Produtos</center>
          </h3>
          <input id="input-busca" type="text" class="form-control mt-3 mb-3" placeholder="O que você procura?">
          <table class="table table-striped">
            <thead>
              <tr class="text-center">
                <th>CODIGO</th>
                <th>DESCRIÇÃO</th>
                <th>CLASSE</th>
                <th>EXCLUIR</th>
              </tr>
            </thead>
            <tbody id="grid">

            </tbody>
          </table>
        </div>
      </div>


    </div>

    
    
  </div>

  <script src="/Views/js/eventos.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>

</html>