<!DOCTYPE html>
<html>

<head>
  <title>LISTAR PRODUTOS</title>
  <meta charset="utf-8">

  <script src="./scripts/jquery-3.6.0.js"></script>
  <script src="./scripts/comunicaApiEntrada.js"></script>
  <link href="estilo.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


</head>

<body>

  <div class="row affix-row">

    <div id="nav-placeholder">

    </div>

    <script>
      $.get("./navbar.html", function (data) {
        $("#nav-placeholder").replaceWith(data);
      });
    </script>


    <div class="col-sm-8 col-md-10 affix-content">

      <div class="container">

        <div class="col-md-6">
          <h3>
            <center>ENTRADA DE PRODUTOS</center>
          </h3>
          <table class="table table-striped">
            <thead>
              <tr class="text-center">
                <th>CODIGO</th>
                <th>DESCRIÇÃO</th>
                <th>SOLICITANTE</th>
                <th>QUANTIDADE</th>
                <th>VALOR UNITARIO</th>
                <th>VALOR TOTAL</th>
                <th>DATA ENTRADA</th>
                <th>LOTE</th>
                <th>VENCIMENTO</th>
                <th>NOTA FISCAL</th>
              </tr>
            </thead>
            <tbody id="gridEntrada">

            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>


</body>

</html>